name: Publish Packages to GitGub NPM Registry 

on:
 release:
    types: [published]
 workflow_dispatch:
jobs:

    Test_Publish_Package:
        runs-on: ubuntu-latest
        permissions: 
            packages: write
            contents: read
            id-token: write
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup NodeJS Version - 20.x
              uses: actions/setup-node@v4
              with:
               node-version: '20.x'
               registry-url: 'https://npm.pkg.github.com'
               scope: '@pep15'

            - name: Install Dependencies
              run: npm install

            - name: Publish to Github Registry
              run: npm publish
              env:
                NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
